#main-content-container {
  background-color: lightblue;
}

/* Default width for small devices (phones) */
#main-content-container {
  width: 1000px;
}

/* For tablets and larger devices (min-width: 600px) */
/*@media (min-width: 600px) {*/
/*  #main-content-container {*/
/*    width: 1000px;*/
/*  }*/
/*}*/

/* For small desktops and larger devices (min-width: 768px) */
@media (min-width: 768px) {
  #main-content-container {
    width: 100vw;
  }
}

/* For large desktops (min-width: 1024px) */
/*@media (min-width: 1024px) {*/
/*  #main-content-container {*/
/*    width: 50%;*/
/*  }*/
/*}*/
